/**
 * ImageTextBlock positioner
 */
.image-text-block__positioner  {
  display: flex;
  justify-content: center;
}

.image-text-block__positioner fieldset {
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  border-radius: 10px;
  position: absolute;
}

.image-text-block__positioner fieldset input,
.image-text-block__positioner fieldset label {
  cursor: pointer;
}

.image-text-block__positioner fieldset label {
  padding-right: 1em;
}

.image-text-block__positioner fieldset label:last-child {
  padding-right: 0;
}

@media (min-width: 768px) {
  section.image-text-block .image-text-block__image--left,
  section.image-text-block .image-text-block__image--right {
    max-width: calc(50% + 15px);
  }
}
